//Add your own editor styles here or comment out the next line if you want to pull in the whole Bootstrap stuff
//@import "theme"; //Add your own editor styles here or comment out the next line if you want to pull in the whole Bootstrap stuff
//@import "theme";

body {
	background-color: white;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary {
background: #FF7233;
border-color: #FF7233;
border-radius: 5px;
width: 100%;
}


#login form p {
	margin-bottom: 10px;
}


#login h1 a, .login h1 a {
	background-image: url("../../screenshot.png");
	height:150px;
	width:300px;
	background-size: 300px 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 0px;
}
