// #search-modal {
//     transition: visibility 0s linear 500ms, opacity 300ms;
//     overflow-y: hidden;
//     position: absolute;
//     visibility: hidden;
//     top:0;
//     opacity: 0;
//     height: 100%;
//     width:100%;
//     z-index: 9999;
//     background: $color-primary;
//     #search{
//      position: absolute;
//      transform: translate(-50%, -50%);
//      top: 50%;
//      left: 50%;
//      form{
//          min-width: 300px;
//          button{
//              color: $color-primary;
//              border-color: $color-primary;
//              background-color: $color-primary;
//              padding: 16px 10px;
//              right: 0;
//              &:hover{
//                  color: $color-primary;
//              }
//          }
//          input[type=text]{
//              &::placeholder {
//                  color: $color-text;
//              }
//              color: $color-text;

//              padding: .75em;
//              height: auto;
//              border-width: 0;
//              border-style: none;
//              background: $color-primary;
//              box-shadow: none;
//              box-sizing: border-box;
//              transition: all .2s linear;
//              }
//              &:after {
//                  content: '';
//                  width: 100%;
//                  position: absolute;
//                  left: 0;
//                  bottom: 0px;
//                  border-width: 0 0 1px;
//                  border-style: solid;
//                  border-color:$color-text;
//              }
//          }
//      }
//      #search-container {
//          position: relative;
//          height: 100VH;
//          width: 100VW;
//      }
//      #search-close{
//      position: absolute;
//      top: 40px;
//      right: 40px;
//      background-color: transparent !important;
//      color: $color-text;
//      font-size: 40px !important;
//      font-weight: 200;
//      height: 60px;
//      width: 60px;
//      }
//   }

//   .icon-search {
// 	order: 0;
// 	@media(min-width: 768px) {
// 		order: 3;
// 	}
//     position: relative;
//     height: 30px;
//     width: 21px;
//     padding: 0px 20px;
// 	margin-left: 0px;
// 	margin-right: 15px;
// 	@media(min-width: 768px) {
// 		margin-left: 15px;
// 		margin-right: 0;
// 	}
//     &:before {
//         content: '';
//         background-image: url(../icons/icon-search.svg);
//         height: 20px;
//         width: 21px;
//         background-position: center;
//         background-size: cover;
//         background-repeat: no-repeat;
//         display: block;
//         position: absolute;
//         left: 50%;
//         top: 52%;
//         transform: translate(-50%, -50%);
//     }
// }

//Alt Search Modal//
#searchModal form input {
	border: 2px solid $primary;
	border-radius: 7px;
	background-color: #f053230D;
	padding: 5px;
}
#searchModal button.close {
	opacity: 1;
	span {
	color: $primary;
	opacity: 1;
}
}

  .icon-search {
	order: 0;
	@media(min-width: 768px) {
		order: 3;
	}
    position: relative;
    height: 30px;
    width: 21px;
    padding: 0px 20px;
	margin-left: 0px;
	margin-right: 15px;
	@media(min-width: 1024px) {
		margin-left: 1.5rem;
		margin-right: 0;
	}
    &:before {
        content: '';
        background-image: url(../icons/icon-search.svg);
        height: 30px;
        width: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 50%;
        top: 52%;
        transform: translate(-50%, -50%);
    }
}
