#site-footer {
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media(min-width: 768px) {
            flex-direction: row;
        }
        >div:nth-child(2) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding-top: 40px;
            @media(min-width: 768px) {
                padding-top: 0px;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
    .footer-sep {
        height: 1px;
        width: 100%;
        background-color: #ffffff;
        opacity: .8;
        margin-top: 35px;
        margin-bottom: 44px;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media(min-width: 768px) {
            flex-direction: row;
        }
		.footer-top--logo {
			max-width: 100px;
		}
        ul{
            list-style-type: none;
            margin:0;
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 10px;
                margin-right: 60px;
                &:first-child{
                    padding-left: 0;
                }
            }
        }
    }
}
