main {
	min-height: calc( 100vh - #{$nav-height}  - #{$footer-height});
}

@media screen and (prefers-reduced-motion: no-preference) {
	html,
	body {
	  scroll-behavior: smooth;
	}
  }
body {
	background-color: $color-bg;
}

nav.archive-pagination{
	ul.pagination {
		display: flex;
		width: 100%;
		padding: 0;
		justify-content: flex-end;
		li {
			list-style-type: none;
			padding: 10px 16px;
			display: flex;
			justify-content: center;
			align-items:center;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			padding: 8px;
			background: $color-primary;
			margin-right: 1rem;
			&.active {
				opacity: .5;
			}
			&:last-child{
				margin-right: 0;
			}
			a, span {
				color: white;
			}

		}
	}
}


.pt-page {
	padding-top: 50px;
	@media(min-width: 768px) {
		padding-top: 80px;
	}
	@media(min-width: 1024px) {
		padding-top: 133px;
	}
}


.col-contained > div{
	padding: 15px;
	@media(min-width: 768px) {
		max-width:(1183px/2);
		padding: 80px 30px 80px 30px;
	}
	@media(min-width: 1200px) {

		padding: 80px 0 80px 56px;
	}
}


.acf-text p {
	color: $color-text;
}




.min-border-top {
	height: 2px;
	width: 100%;
	@include border-top;
	padding-bottom: 1rem;
}


article p {
	color: $color-text;
}


.visually-hidden-desktop {
	@media(min-width: 768px) {
		position: absolute!important;
		width: 1px!important;
		height: 1px!important;
		padding: 0!important;
		margin: -1px!important;
		overflow: hidden!important;
		clip: rect(0,0,0,0)!important;
		white-space: nowrap!important;
		border: 0!important;
	}
 }
//Firefox only
@-moz-document url-prefix() {

  }

//Safari  only
  @media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {


}}


