
.header-navigation--logo {
	flex-grow: 1;
	z-index: 3;
	img {
		max-width: 100px;
	}
}

/**********************/
// Desktop menu styles //
/**********************/
@media(min-width: $nav-breakpoint-up) {

	.header-navigation--container{
		height:100%;
	}
	.nav-link {
		padding: 0 2rem;
	}
	ul.header-navigation--menu {
		height:100%;
		align-items: center;
		li {
			height:100%;
			a {
				height:100%;
				display: flex;
				align-items: center;
			}
		}
	}
	#header-navigation--toggle {
		display: none;
	}
	.sub-menu-show ul.dropdown-menu{
		opacity: 1;
		visibility: visible;
		display: block;
	}

	ul.dropdown-menu{
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		background-color: white;
		border-top: 1px solid #00193A5a;
		//margin-top: 1px;
		width: 100vw;
		position: absolute;
		min-height: 107px;
		//height: 107px;
		top: $header-height;
		opacity: 0;
		visibility: hidden;
		z-index: 1100;
		@include media-breakpoint-up(md) {
			left: calc(((-100vw + #{map-get($container-max-widths, "md")})/ 2));
			padding: 1.5rem calc(((100vw - #{map-get($container-max-widths, "md")})/ 2) + 15px);
		}
		@include media-breakpoint-up(lg) {
			left: calc(((-100vw + #{map-get($container-max-widths, "lg")})/ 2));
			padding: 1.5rem calc(((100vw - #{map-get($container-max-widths, "lg")})/ 2) + 15px);
		}
		@include media-breakpoint-up(xl) {
			left: calc(((-100vw + #{map-get($container-max-widths, "xl")})/ 2));
			padding: 1.5rem calc(((100vw - #{map-get($container-max-widths, "xl")})/ 2) + 15px);
		}
		@include media-breakpoint-up(xxl) {
			left: calc(((-100vw + #{map-get($container-max-widths, "xxl")})/ 2));
			padding: 1.5rem calc(((100vw - #{map-get($container-max-widths, "xxl")})/ 2) + 15px);
		}
	}
}


/**********************/
//Mobile menu styles //
/**********************/
@media(max-width: $nav-breakpoint-down) {
	#header-navigation--toggle {
		background-color: transparent;
		z-index: 3;
		width: 26px;
		height: 21px;
		position: relative;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: $black;
			border-radius: 2px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
		}
		span:nth-child(1) {
			top: 0px;
			}
		span:nth-child(2),
		span:nth-child(3) {
			top: 8px;
			}
		span:nth-child(4) {
			top: 16px;
		}
		&:not(.closed) span:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
			}
		&:not(.closed) span:nth-child(2) {
			transform: rotate(45deg);
			}
		&:not(.closed) span:nth-child(3) {
			transform: rotate(-45deg);
			}

		&:not(.closed) span:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
			}
	}
	.popover-navigation--menu {
		height: 100%;
		position: fixed;
		top: 0;
		right: -1000px;
		background-color: $secondary;
		transition: all .6s ease-in-out;
		display: flex;
		align-items: flex-start;
		width: 100vw;
		z-index: 2;

	}
	.popover-navigation--menu.active {
		right: 0;
		transition: all .6s ease-in-out;
	}
	button.popover-navigation--dropdown-toggle {
		background-color: transparent;
	}
	.header-navigation--container {
		width: 100%;
		margin-top: $header-height-mobile;
		padding: 2rem 15px 0;
		li {
			display: flex;
			flex-wrap: wrap;
			a.nav-link {
				padding: 1rem 0;
			}
		}
	}
	ul.dropdown-menu{
		visibility: hidden;
		opacity: 0;
		@include transition;
		//display: block;
		background-color: transparent;
		border: none;
		position: relative;
		width: 100%;
		li a {
			padding: .5rem;
		}
	}
	.sub-menu-show--mobile ul.dropdown-menu{
		display: block;
		opacity: 1;
		visibility: visible;
		transition: all 2s ease-in-out;
		@include transition;
	}
}
